<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-head :: common_head(~{::title},~{})">
	<title>Bullet Journal</title>
</head>
<body>
<div th:insert="~{fragments/login-header :: navigation}"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<legend class="text-center">User Login</legend>	
			<form th:action="@{/login}" method="post">
				<!-- error message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.</div>
				</div>
				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>
				<div class = "form-group">
					<label for ="username"> Username </label> :
					<input type="text" class = "form-control" id ="username" name = "username"
					placeholder="Enter Username" autofocus="autofocus">
				</div>
				<div class="form-group">
					<label for="password">Password</label>: <input type="password"
						id="password" name="password" class="form-control"
						placeholder="Enter Password" />
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" name="login-submit" id="login-submit"
								class="form-control btn btn-primary" value="Log In" />
						</div>
					</div>
				</div>
				<div class="form-group">
						<span>New user? <a href="/registration" th:href="@{/registration}">Register	here</a></span>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>